* {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0;
  padding: 10px;
  background: #f1f1f1;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}
.header__logo {
  text-align: left;
}
.header__logo h5 {
  display: inline-block;
  margin: 10px 10px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.games-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px;
}

.card {
  margin: 10px;
  flex: 0 1 10%;
    background: #eee;
    border: 1px solid #020202;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(107, 107, 107, 0.16);
    position: relative;
  }

.card img {
  height: 200px;
  width: 150px;
}

.card p.score {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #000;
  color: #fff;
  padding: 6px;
  border-top-right-radius: 1px;
}

.card p.year {
  padding: 6px;
  background: rgba(0, 0, 0, 0.48);
  color: #fff;
}

.card p.title {
  font-size: 12px;
  font-weight: 600;
  height: 35px;
}

.card p.platform {
  font-size: 12px;
}

.card a {
  padding: 10px 10px;
}

input.search-game {
  width: 200px;
  padding: 10px;
  margin: 20px;
}
